<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Website</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>
<body>
  <header>
    <div class="nav container">
      <a href="/" class="logo">Bl<span>og</span></a>
      <div class="nav-right">
        <a href="/admin" class="admin-btn"><i class='bx bx-user'></i></box-icon></a>
        <a href="/add" class="write-btn"><i class="bx bx-pencil"></i>Write</a>
      </div>
    </div>
  </header>
  <section class="home" id="home">
    <div class="home-content">
      <h2>The Blog</h2>
      <div class="search-box">

        <i class='bx bx-search'></i>
        <input type="search" name="" placeholder="Search" id="">
      </div>
    </div>
  </section>
  <section class="posts container" id="posts">
  </section>
    <div class="footer container">
      <p>&#169; Blog</p>
      <div class="social">
        <a href="#"><i class='bx bxl-facebook' ></i></a>
        <a href="#"><i class='bx bxl-twitter' ></i></a>
        <a href="#"><i class='bx bxl-instagram' ></i></a>
        <a href="#"><i class='bx bxl-linkedin' ></i></a>
      </div>
    </div>
  <script src="/js/main.js"></script>
</body>
</html>